parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method object\\:\\:getProperties\\(\\)\\.$#"
			count: 1
			path: src/Services/HubspotContactService.php

		-
			message: "#^Else branch is unreachable because ternary operator condition is always true\\.$#"
			count: 1
			path: src/Services/HubspotContactService.php

		-
			message: "#^Expression on left side of \\?\\? is not nullable\\.$#"
			count: 3
			path: src/Services/HubspotContactService.php
