includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Trait .+ is used zero times and is not analysed#'
        - '#Call to function is_object\(\) with .+ will always evaluate to true#'
